#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

#root::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  font-family: Arial, Helvetica, sans-serif;
}

body::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

body {
  font-family: 'Arial', sans-serif;
  color: #fff;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-y: scroll;
}

.report-card-container {
  width: 280px;
  height: 100vh;
  display: flex;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 160px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#grades-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.grade-row {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 24px;
  margin-top: 20px;
}

.grade-info {
  flex-basis: 40%; 
  text-align: left;
}

.grade-bar-container {
  height: 10px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1); 
  border-radius: 4px;
  overflow: hidden; 
}

.grade-bar {
  height: 100%;
  background-color: #fff; 
  border-radius: 4px;
  animation: fillBar 2s ease forwards;
}

.grade-bar-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden; 
}

.final-grade-section {
  width: 100%;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 8px;
  font-size: 2em;
  text-align: center;
}

.logout-button {
  position: relative; 
  bottom: 130px;
  right: -100px;
  background-color: rgba(0, 0, 0, 0.25);
  color: #fff;
  border: none;
  padding: 1rem 2rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 50px;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.logout-button:focus {
  outline: none;
}

@keyframes fadeIn {
  from {
    transform: translateX(40%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.fade-in-1 {
  opacity: 0;
  animation: fadeIn 1s ease-out forwards;
}

.fade-in-2 {
  opacity: 0;
  animation: fadeIn 1s ease-out forwards;
  animation-delay: 0.8s;
}

.fade-in-3 {
  opacity: 0;
  animation: fadeIn 1s ease-out forwards;
  animation-delay: 1.6s;
}

.fade-in-4 {
  opacity: 0;
  animation: fadeIn 1s ease-out forwards;
  animation-delay: 2.4s;
}

.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin-bottom: 80px;
}

.spinner::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120px; 
  height: 120px; 
  margin-top: -60px;
  margin-left: -60px; 
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: rgba(255, 255, 255, 0.7); 
  animation: spin 2.6s infinite ease-in-out;
}

@keyframes spin {
  0%, 100% {
    transform: rotate(0deg);
    border-width: 4px;
  }
  50% {
    transform: rotate(720deg); 
    border-width: 8px; 
  }
}

.spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
}

@keyframes fillBar {
  from {
    width: 0;
  }
  to {
    width: var(--width, 100%);
  }
}

.score {
  font-size: large;
  margin-left: auto;
}

.final {
  font-size: larger;
  color: #caf9ff;
}

.grade-bar-final {
  height: 100%;
  background-color: #caf9ff; 
  border-radius: 4px 0 0 4px; 
  animation: fillBar 2s ease forwards;
}

h2 {
  font-weight: lighter;
}

.final-title {
  margin-top: 14px;
  margin-bottom: -18px;
}

.final-num {
  margin-bottom: 10px;
}

.spotify-logo {
  position: relative;
  width: 60%;
  height: auto;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
}

h1.card-header {
  width: 500px;
  margin: 0;
}

h2.plug-link {
  font-size: 18px;
  margin: 0;
}

div.header {
  position: relative;
  bottom: 30px;
}

@keyframes fadeInBreakdown {
  from {
    transform: translateY(15%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

div.ratings-breakdown {
  width: 80vw;
  max-width: 320px;
  margin-top: 48px;
  margin-bottom: 50px;
  text-align: left;
  display:flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  animation: fadeInBreakdown 1s ease-out forwards;
  animation-delay: 3.2s;
}

section {
  margin-top: 20px;
}

a {
  text-decoration: none;
}

.rating-breakdown {
  font-weight: bold;
}

h3 {
  margin-bottom: 6px;
}